.container{
display: flex;
align-items: center;
gap: 380px;
margin-left: 10%;
}
.icon{
display: flex;
align-items: center;
gap: 10px;
}
.box{
display: flex;
align-items: center;
gap: 35px;
}
.container1{
display: flex;
align-items: center;

}
.text{
margin-left: 130px;
}
.photo{
display: flex;
align-items: center;
justify-content: space-around;
}
.nav{
font-size: 50px;
}
.click{
width: 180px;
height: 35px;
border-radius: 8px;
background-color: white;

}
.black{
width: 180px;
height: 35px;
border-radius: 8px;
border: none;
background-color: black;
color: white;
}
.color{
background-color: greenyellow;
border-radius: 3px;
border: none;
font-size: 40px;
margin-left: 140px;
}
.box2{
display: flex;
align-items: center;
gap: 20px;
margin: 120px auto;
}
.lern{
display: flex;
align-items: center;
gap: 10px;
}
.ic{
width: 30px;
height: 30px;
}
.green{
background-color: greenyellow;
margin: 30px auto;
}
.box3{
    display: flex;
    align-items: center;
    gap: 20px;
   width: 100%;
   height: 220px;
   padding: 20px;
    border-radius: 25px;
    border: 1px solid;
}
.white{
background-color: white;
margin: 30px auto;
}
.box4{
    display: flex;
    align-items: center;
    gap: 20px;
   width: 100%;
   height: 230px;
   padding: 20px;
    background-color: greenyellow;
    border: 1px solid ;
    border-radius: 25px;
}
.container2{
    display: flex;
    align-items: center;
    gap: 150px;
margin-left: 135px;
}
.left{
   display: flex;
   align-items: center;
   gap: 20px;
   width: 100%;
   padding: 20px;
   border: 1px solid;
   border-radius: 25px;
    background-color: black;
}
.box6{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
    border: 1px solid ;
    border-radius: 25px;
}
.container3{
    display: flex;
    align-items: center;
    gap: 150px;
margin-left: 135px;
padding: 40px 0px;
}
.container4{
    display: flex;
    align-items: center;
    gap: 150px;
    margin-left: -10px;
}
.container5{
    width: 80%;
    background-color: rgba(128, 128, 128, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
gap: 20px;
margin: 125px;
}
.text3{
font-size: 50px;
}
.box7{
    display: flex;
    align-items: center;
gap: 5px;
}
.ing{
width: 20px;
height: 20px;
}
.container6{
    width: 80%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 3px;
    border-radius: 20px;
    margin-left: 125px;
}
.text4{
color: greenyellow;
}
.color1{
color: white;

}
.nol{
display: flex;
align-items: center;
gap: 10px;
}
.flex{
    display: flex;
    align-items: center;
justify-content: space-between;
border-bottom: 2px solid black;


}
.fon{
font-size: 50px;
}
.plus{
width: 74%;
background-color: greenyellow;
padding: 20px 40px;
margin-left: 125px;
border-radius: 20px;
border: 1px solid;
}
.minus{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 470px;
    
}
.minus2{
width: 80%;
background-color: rgba(128, 128, 128, 0.126);
border-radius: 20px;
border: 1px solid;
margin: 30px 125px;



}
.John{
display: flex;
border-bottom: 1px solid;
padding-bottom: 10px;

}
.pad{
padding: 30px;
background-color: rgba(128, 128, 128, 0);
border: 1px solid;
border-radius: 20px;
}
.container7{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.container8{
    display: flex;
align-items: center;
justify-content: space-around;
margin: 50px auto;

}
.see{
padding: 10px 40px;
background-color: black;
color: white;
border-radius: 10px;
border: none;
}
.mar{
margin-left: 1025px;
}
.bor{
width: 40%;
border: 1px solid greenyellow;
padding: 25px;
border-radius: 15px;
margin-left: 30%;   


}
.bla{
width: 77%;
border: 1px solid ;
background-color: black;
padding: 40px;
margin-left: 125px;
}
.na{
margin: 60px;
width: 440px;

}
.navbar{
margin-left:240px;
}
.gree{
width: 80%;
display: flex;
align-items: center;
justify-content: space-evenly;
background-color: rgba(128, 128, 128, 0.075);
gap: 160px;
border: 1px solid;
margin-left: 125px;
padding: 40px 0px;
border-radius: 25px;
border: none;
}
.right{
margin-left: 60px;
}

.nam{
width: 400px;
height: 30px;

}
.tp{
margin: 40px auto;
}
.heig{
width: 400px;
height: 100px;
}
.time{
width: 410px;
height: 50px;
background-color: black;
border-radius: 15px;
border: none;
color: white;
}